<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="card">
    <p-card header="Atender Citas">
        <p-table [value]="citas" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Nombre del Paciente</th>
                    <th>Nombre del Doctor</th>
                    <th>Tópico</th>
                    <th>Día y Hora</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cita>
                <tr>
                    <td>
                        {{ cita.codigo }}
                    </td>
                    <td>
                        {{ cita.paciente.nombres }} {{ cita.paciente.apellidos }}
                    </td>
                    <td>
                        {{ cita.psicologo.nombres }} {{ cita.psicologo.apellidos }}
                    </td>
                    <td>
                        {{ cita.psicologo.especialidad.nombre }}
                    </td>
                    <td>{{ cita.horaCita | date:'short' }}</td>
                    <td>{{ cita.estado }}</td>
                    <td class="inline-flex gap-3">
                        <p-button [disabled]="cita.estado !== 'RESERVADO'" label="Atender" severity="info"
                            (onClick)="openCitaDialog(cita.codigo,true)"></p-button>
                        <p-button label="Ver Detalle" severity="success"
                            (onClick)="openCitaDialog(cita.codigo,false)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>

<p-dialog header="{{isEditDialog ? 'Atender Cita' : 'Ver Detalle de Cita'}}" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <div class="grid" *ngIf="selectedCita">
        <div class="col-6">
            <div class="field">
                <label for="especialidad">Especialidad</label>
                <br>
                <input type="text" pInputText [readOnly]="true" [value]="selectedCita.psicologo.especialidad.nombre"/>
            </div>
            <div class="field">
                <label for="psychologist">Psicólogo:</label>
                <br>
                <input type="text" pInputText [readOnly]="true" [value]="selectedCita.psicologo.nombres + ' '+selectedCita.psicologo.apellidos"/>
            </div>
            <div class="field">
                <label for="psychologist">Paciente</label>
                <br>
                <input type="text" pInputText [readOnly]="true" [value]="selectedCita.paciente.nombres + ' '+selectedCita.paciente.apellidos"/>
            </div>
            <div class="field">
                <label for="reservationDate">Fecha de Reserva</label>
                <br>
                <input type="text" pInputText [readOnly]="true" value="{{selectedCita.fecha | date:'shortDate'}}"/>
            </div>
            <div class="field">
                <label for="reservationTime">Hora de Reserva</label>
                <br>
                <input type="text" pInputText [readOnly]="true" [value]="selectedCita.hora"/>
            </div>
        </div>
        <div class="col-6">
            <div class="field">
                <label for="especialidad">Estado Cita</label>
                <br>
                <input type="text" pInputText [readOnly]="true" [value]="selectedCita.estado"/>
            </div>
            <div class="field">
                <label for="psychologist">Apuntes</label>
                <br>
                <textarea rows="11" cols="30" pInputTextarea [(ngModel)]="selectedCita.apuntes" [readOnly]="!isEditDialog"></textarea>
            </div>
            <div class="field">
                <p-button type="submit" label="Finalizar Atención" icon="pi pi-check"
                    (onClick)="updateAtencion()"
                    [style]="{ width: '100%' }"
                    [disabled]="!isEditDialog || selectedCita.apuntes.length < 5"
                    ></p-button>
            </div>
        </div>
    </div>
</p-dialog>